# floobits
.floo
.flooignore

# dev
node_modules
remote_verification/node_modules
compiled
client/node_modules
client/compiled
client/dist
client/selenium-debug.log

# Webstorm configuration files
.idea/