*{
  font-family: 'Electrolize', sans-serif;
  color: #FFF;
}
body {
  font-family: 'Electrolize', sans-serif;
  background-color:black;
}

h1{
  color:#FFF;
  margin:30px;
}
nav{
  background: white;
  margin-top:30px;
  padding:5px;
  line-height:60px;
  vertical-align: middle;
}
form{
  border:0px;
  padding:5px 5px 5px 5px;
  margin:0px;
  display: block;
}
input{
  background-color:white;
  margin:0;
  padding:0;
  border:0;
  width:100%;
}
a{
  text-decoration: none;
  color: #FFF;
}

a:hover{
  color: #FFF;
}

.submit-button{
  border:0;
  padding:10px;
  width:100%;
}
#main{
  z-index: 10;
  position: absolute;
  margin-left: auto;
  margin-right:auto;
  left:0;
  right:0;
  text-align: center;
}
.swords{
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0%;
}
.game-display{
  width: 500px;
  height:auto;
  margin-left: auto;
  margin-right:auto;
  margin-top:10px;
}

#grid{
  display: flex;
  /*height: 100vh;*/
  /*align-items:center;     /*align row center (or column if flexdir is other)*/
  /*align-items: flex-start will stop row from stretching to fill and give them default height n move to top*/
  justify-content:center; /*align column center*/
  flex-direction:row;  /*default is row*/
  flex-wrap:wrap; /*items will wrap to next line*/
  height:500px;
  width:auto;
  margin: 0 auto;
  padding: 0;
  align-content:0;
}
.gridbox{
  width:10%;
  /*align-self: stretch; same as alignt items but for individual box*/
  /*flex:1;*/
  height: 50px;
  color:transparent;
  background-color:#999;
  background-image: url("../img/tile-by-Ivan-voirol.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.player {
  background-image: url("../img/p1_stand.png"), url("../img/tile-by-Ivan-voirol.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: 25px auto, 150px auto;
}
.charSelect{
  height: 32px;
  width: 50px;
}
#heart-display{
  display:flex;
  background-color: transparent;
  padding:5px;
}
.heart-full{
  background-image:url("../img/mechheart.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: 30px auto, 300px auto;
  width:35px;
  height:50px;
}
.heart-empty{
  background-image:url("../img/heart-empty.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: 30px auto, 300px auto;
  width:35px;
  height:50px;
}

#textfield{
  background-color:whitesmoke;
  width: auto;
  margin: auto;
  padding: 0px;
}


#gameinfo{
  background-color:black;
  color:white;
  width: 400px;
  min-height:50px;
  margin: 0 auto;
  padding:3px;
}

.arcade {
  z-index: 5;
  opacity:0.7;
  height:950px;
  width:auto;
  position: absolute;
  margin-left: auto;
  margin-right:auto;
  margin-top:0;
  left:0;
  right:0;
}

.jukebox {
  z-index: 4;
  opacity:0.7;
  height:30vh;
  width:auto;
  position: absolute;
  margin-left:100px;
  margin-right:auto;
  margin-top:100px
}

#draggable {
  z-index: 7;
}


.tile {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.entity {
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: 25px auto, 150px auto;
}

.item {
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: 25px auto, 150px auto;
}

.slime {
  background-image: url("../img/slimeWalk2.png"), url("../img/tile-by-Ivan-voirol.png");
}
.fight {
  background-image: url("../img/p1_hurt.png"), url("../img/tile-by-Ivan-voirol.png");
}
.potion {
  background-image: url("../img/potion.png"), url("../img/tile-by-Ivan-voirol.png");
}
.water {
  background: #000;
}
.wall {
  background-image: url("../img/stoneWall.png");
}
.door {
  background-image: url("../img/stoneWallDoor.png");
}
.door-open {
  background-image: url("../img/stoneWallDoorOpen.png");
}

.owl {
  background-image: url("../img/owl.png"), url("../img/tile-by-Ivan-voirol.png");
  background-size: 50px auto, 150px auto;
}

.bird {
  background-image: url("../img/snakeRed.png"), url("../img/tile-by-Ivan-voirol.png");
  background-size: 50px auto, 150px auto;
}

.ninja {
  background-image: url("../img/ninja.png"), url("../img/tile-by-Ivan-voirol.png");
}
.knight {
  background-image: url("../img/knight.png"), url("../img/tile-by-Ivan-voirol.png");
}
.pirate {
  background-image: url("../img/manSaber.png"), url("../img/tile-by-Ivan-voirol.png");
}
.pikachu {
  background-image: url("../img/pika.png"), url("../img/tile-by-Ivan-voirol.png");
}
.right-icon {
  margin-top:50px;
  margin-right:30px;
  padding: 5px;
}
.github-name {
  padding: 5px;
  color: #fff;
}
#user-profile{
  background-color: #000;
}
#profile-footer{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
#example-console-container{
  text-align: center;
}
.hidden{
  display: none;
}
#avatar{
  text-align: center;
}
#curr-score-board{
  text-align: left;
  padding-left: 10%;
}
#high-score-board{
  text-align: center;
}
.high-score-header{
  text-decoration: underline;
}
#nav-dropdown{

}
.main-nav{
  background-color: transparent;
}


