body {
  background: #F7F9FD;
  color:#666;
  font-family: 'Roboto', sans-serif;
}
h1{
  color:#FFF;
  margin:30px;
}
nav{
  background: white;
  margin-bottom:30px;
  padding:5px;
  border-top:#555 solid 1px;
  line-height:60px;
  vertical-align: middle;
}
form{
  border:0px;
  padding:5px 10px 5px 10px;
  margin:0px;
}
input{
  background-color:#fff;
  margin:0;
  padding:0;
  border:0;
  width:100%;
}
.textbox{
  margin:0;
  border:0;
  padding:0;
  background-color:black;
  width:598px;
}
.submit-button{
  margin:0;
  border:0;
  padding:0;
  width:100%;
}
#main{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.game-display{
  width: 600px;
  margin: 0 auto;
  margin-top:70px;
  padding: 0;
  border: 0;
  height:auto;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
#grid{
  display: flex;
  /*height: 100vh;*/
  /*align-items:center;     /*align row center (or column if flexdir is other)*/
  /*align-items: flex-start will stop row from stretching to fill and give them default height n move to top*/
  justify-content:center; /*align column center*/
  flex-direction:row;  /*default is row*/
  flex-wrap:wrap; /*items will wrap to next line*/
  width: 600px;
  margin: 0 auto;
  padding: 0;
  height:500px;
  align-content:space-between 0;
}
.gridbox{
  width:10%;
  /*align-self: stretch; same as alignt items but for individual box*/
  /*flex:1;*/
  height: 50px;
  color:#FFF;
  background-color:#999;
  background-image: url("../img/tile-by-Ivan-voirol.png");
  background-repeat: no-repeat
  background-position: center center;
  background-size: 100% auto;
}
.player {
  background-image: url("../img/p1_stand.png"), url("../img/tile-by-Ivan-voirol.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: 25px auto, 150px auto;
}
.charSelect{
  height: 32px;
  width: 50px;
}
#heart-display{
  display:flex;
  background-color:#000;
  padding:10px;
}
.heart-full{
  background-image:url("../img/heart.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: 30px auto, 300px auto;
  width:35px;
  height:50px;
}
.heart-empty{
  background-image:url("../img/heart-empty.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: 30px auto, 300px auto;
  width:35px;
  height:50px;
}
#textfield{
  background-color:white;
  color:white;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  width: 600px;
  margin: 0 auto;
  margin: 1;
  padding:0px;
  text-align: center;
}
#gameinfo{
  background-color:white;
  color: black;
  width: 600px;
  min-height:50px;
  color:black;
  margin: 0 auto;
  padding:20px;
}
.slime {
  background-image: url("../img/slimeWalk2.png"), url("../img/tile-by-Ivan-voirol.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: 25px auto, 150px auto;
}
.fight {
  background-image: url("../img/p1_hurt.png"), url("../img/tile-by-Ivan-voirol.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: 25px auto, 150px auto;
}
.potion {
  background-image: url("../img/potion.png"), url("../img/tile-by-Ivan-voirol.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: 25px auto, 150px auto;
}
.water {
  background: #000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.wall {
  background-image: url("../img/stoneWall.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.door {
  background-image: url("../img/stoneWallDoor.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.door-open {
  background-image: url("../img/stoneWallDoorOpen.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.owl {
  background-image: url("../img/owl.png"), url("../img/tile-by-Ivan-voirol.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: 50px auto, 150px auto;
}


.bird {
  background-image: url("../img/bird.png"), url("../img/tile-by-Ivan-voirol.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: 50px auto, 150px auto;
}

.right-icon img {
  padding: 5px;
}
.github-name {
  padding: 5px;
  color: #fff;
}

#example-console-container{
  text-align: center;
  margin-bottom: 5px;
}

